# 가상환경 무시
.venv/
.flet/
venv/
env/
myenv/

# 파이썬 캐시 무시
__pycache__/
*.pyc

# (선택) 운영체제 임시 파일 무시
.DS_Store
Thumbs.db

# 개인메모 및 백업폴더
memoAI/
backup/
build/
dist/

# 빌드파일 제외
*.spec
# 2. 하지만 MemoMindAI.spec 파일은 제외 대상에서 빼기 (추적 허용)
!MemoMindAI.spec
generated-*